<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="OPCServerAdress" value="opc.tcp://osl-0808:62640/IntegrationObjects/ServerSimulator"/>
		<add key="Tag1" value="ns=2;s=Tag7"/>
	</appSettings>
</configuration>